name: Build
on:
  pull_request:
  push:
    branches:
      - humble*
      - jazzy*
      - main
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    container:
      image: rostooling/setup-ros-docker:ubuntu-noble-ros-jazzy-ros-base-latest
    steps:
      - name: Build and run tests
        uses: ros-tooling/action-ros-ci@v0.4
        with:
          package-name: pb_omni_pid_pursuit_controller
          target-ros2-distro: jazzy
